* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(191, 191, 191);
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}

.card{
    
    width: 350px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;   
}

.card .name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    
    font-weight: 600;
}

.card .prof{
    font-size: 12px;
    font-weight: 500;

}
.card .com{
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}
.skills h4{
    font-size: 13px ;
    padding: 3px 10px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
}
.skills h5{
    font-size: 13px ;
    padding: 3px 10px;
    font-weight: 500;
    color: white;
    border: 1px solid rgb(0, 162, 255);
    background-color: rgb(0, 162, 255);
    border-radius: 50px;
}

.card p{
    font-size: 14px;
    padding: 0 20px;
    height: 30px;
}

.card>button{
    width: 100%;
    padding: 25px 0;
    border: none;
    border-top: 1px solid rgb(184, 184, 184);
    font-size: 15px;
    margin-top: 20px;
    background-color: transparent;
}
.card>button:hover{
    background-color: rgb(0, 162, 255);
    color: white;
}
.card>button:active{
    font-size: 16px;
}

.top button{
    background-color: rgb(0, 201, 0);
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    color: #fff;
}


#full{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    padding: 10px 40px;
    display: none;

}

.nav{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}
.nav h3{
    font-size: 26px;
}
.nav button{
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    background-color: red;
    border: none;
    padding: 5px 6px;
    border-radius: 50%;
}

.center{
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
    justify-content: space-between;
    height: calc(100% - 70px);
    
}
.left{
    width: 60%;
}
.center img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.left .user{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
}
.left h1{
    font-size: 60px;
}

.full-skills{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 70%;
    flex-wrap: wrap;
    margin: 20px 0;
}
.full-skills h4{
    font-size: 13px;
    border: 1px solid black;

    padding: 4px 8px;
    border-radius: 50px;
    font-weight: 500;
}

.center p{
    width: 60%;
}
.center button{
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 30px;
    background-color: rgb(51, 224, 3);
    color: #fff;
}



#prev{
    position: absolute;
    bottom: 8%;
    left: 45%;
    background-color: royalblue;
    color: #fff;
    padding: 8px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50%;
    border: none;
    
}
#next{
    position: absolute;
    bottom: 8%;
    right: 45%;
    background-color: royalblue;
    color: #fff;
    padding: 8px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50%;
    border: none;
    
}

#next:active{
    scale: 0.95;
}
#prev:active{
    scale: 0.95;
}